In [247]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as sp
from datetime import datetime

In [388]:
customer_df = pd.read_csv('../database/customer.csv', index_col='customer_id')
customer_df.head()

,Unnamed: 0,first_name,last_name,gender,phone,email
customer_id,,,,,,
1,0,Ewa,Sapak,female,791491634,Ewa.Sap@gmail.com
2,1,Jakub,Szczepański,male,792370041,Szczepanski.Ja@gmail.com
3,2,Kateryna,Teliszewska,female,663017148,Kateryna8885@wp.pl
4,3,Nela,Dendys,female,734919744,Dendys.Ne@gmail.com
5,4,Maja,Zdanowska,female,577698695,MajaZdanowska@onet.pl

In [387]:
staff_df = pd.read_csv('../database/staff.csv', index_col='staff_id')
staff_df.head()

,Unnamed: 0,first_name,last_name,gender,phone,email,salary
staff_id,,,,,,,
1,0,Szymon,Kozubek,male,731586170,Szymon.Kozubek@dragons.com,5140.0
2,1,Wojciech,Sun,male,691055323,Wojciech.Sun@dragons.com,4310.0
3,2,Tymon,Berner,male,503646261,Tymon.Berner@dragons.com,4310.0
4,3,Leon,Tujek,male,667140790,Leon.Tujek@dragons.com,8320.0
5,4,Zuzanna,Burczyk,female,884760795,Zuzanna.Burczyk@dragons.com,5140.0

In [386]:
games_df = pd.read_csv('../database/games_for_sale.csv', index_col='game_id')
games_df.head()

,names,description,min_players,max_players,avg_time,year,avg_rating,age,mechanic,owned,category,designer,weight,price
game_id,,,,,,,,,,,,,,
174430,Gloomhaven,Vanquish monsters with strategic cardplay. Ful...,1,4,120,2017,8.98893,12,"Action / Movement Programming, Co-operative Pl...",25928,"Adventure, Exploration, Fantasy, Fighting, Min...",Isaac Childres,3.7543,692.55
161936,Pandemic Legacy: Season 1,Mutating diseases are spreading around the wor...,2,4,60,2015,8.66140,13,"Action Point Allowance System, Co-operative Pl...",41605,"Environmental, Medical","Rob Daviau, Matt Leacock",2.8210,270.35
182028,Through the Ages: A New Story of Civilization,Rewrite history as you build up your civilizat...,2,4,240,2015,8.60673,14,"Action Point Allowance System, Auction/Bidding...",15848,"Card Game, Civilization, Economic",Vlaada Chvátil,4.3678,293.84
167791,Terraforming Mars,Compete with rival CEOs to make Mars habitable...,1,5,120,2016,8.38461,12,"Card Drafting, Hand Management, Set Collection...",33340,"Economic, Environmental, Industry / Manufactur...",Jacob Fryxelius,3.2456,350.40
12333,Twilight Struggle,Relive the Cold War and rewrite history in an ...,2,2,180,2005,8.33954,13,"Area Control / Area Influence, Campaign / Batt...",42952,"Modern Warfare, Political, Wargame","Ananda Gupta, Jason Matthews",3.5518,243.98

In [450]:
dates_df = pd.read_csv('dates.csv')
dates = np.array(dates_df.date)
dates

array(['2021-06-01', '2021-06-02', '2021-06-04', '2021-06-07',
       '2021-06-08', '2021-06-09', '2021-06-10', '2021-06-11',
       '2021-06-14', '2021-06-15', '2021-06-16', '2021-06-17',
       '2021-06-18', '2021-06-21', '2021-06-22', '2021-06-23',
       '2021-06-24', '2021-06-25', '2021-06-28', '2021-06-29',
       '2021-06-30', '2021-07-01', '2021-07-02', '2021-07-05',
       '2021-07-06', '2021-07-07', '2021-07-08', '2021-07-09',
       '2021-07-12', '2021-07-13', '2021-07-14', '2021-07-15',
       '2021-07-16', '2021-07-19', '2021-07-20', '2021-07-21',
       '2021-07-22', '2021-07-23', '2021-07-26', '2021-07-27',
       '2021-07-28', '2021-07-29', '2021-07-30', '2021-08-02',
       '2021-08-03', '2021-08-04', '2021-08-05', '2021-08-06',
       '2021-08-09', '2021-08-10', '2021-08-11', '2021-08-12',
       '2021-08-13', '2021-08-16', '2021-08-17', '2021-08-18',
       '2021-08-19', '2021-08-20', '2021-08-23', '2021-08-24',
       '2021-08-25', '2021-08-26', '2021-08-27', '2021-08-30',
       '2021-08-31', '2021-09-01', '2021-09-02', '2021-09-03',
       '2021-09-06', '2021-09-07', '2021-09-08', '2021-09-09',
       '2021-09-10', '2021-09-13', '2021-09-14', '2021-09-15',
       '2021-09-16', '2021-09-17', '2021-09-20', '2021-09-21',
       '2021-09-22', '2021-09-23', '2021-09-24', '2021-09-27',
       '2021-09-28', '2021-09-29', '2021-09-30', '2021-10-01',
       '2021-10-04', '2021-10-05', '2021-10-06', '2021-10-07',
       '2021-10-08', '2021-10-11', '2021-10-12', '2021-10-13',
       '2021-10-14', '2021-10-15', '2021-10-18', '2021-10-19',
       '2021-10-20', '2021-10-21', '2021-10-22', '2021-10-25',
       '2021-10-26', '2021-10-27', '2021-10-28', '2021-10-29',
       '2021-11-02', '2021-11-03', '2021-11-04', '2021-11-05',
       '2021-11-08', '2021-11-09', '2021-11-10', '2021-11-12',
       '2021-11-15', '2021-11-16', '2021-11-17', '2021-11-18',
       '2021-11-19', '2021-11-22', '2021-11-23', '2021-11-24',
       '2021-11-25', '2021-11-26', '2021-11-29', '2021-11-30',
       '2021-12-01', '2021-12-02', '2021-12-03', '2021-12-06',
       '2021-12-07', '2021-12-08', '2021-12-09', '2021-12-10',
       '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16',
       '2021-12-17', '2021-12-20', '2021-12-21', '2021-12-22',
       '2021-12-23', '2021-12-24', '2021-12-27', '2021-12-28',
       '2021-12-29', '2021-12-30', '2021-12-31', '2022-01-03',
       '2022-01-04', '2022-01-05', '2022-01-07', '2022-01-10',
       '2022-01-11', '2022-01-12', '2022-01-13', '2022-01-14',
       '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
       '2022-01-21', '2022-01-24', '2022-01-25', '2022-01-26',
       '2022-01-27', '2022-01-28', '2022-01-31', '2022-02-01',
       '2022-02-02', '2022-02-03', '2022-02-04', '2022-02-07',
       '2022-02-08', '2022-02-09', '2022-02-10', '2022-02-11',
       '2022-02-14', '2022-02-15', '2022-02-16', '2022-02-17',
       '2022-02-18', '2022-02-21', '2022-02-22', '2022-02-23',
       '2022-02-24', '2022-02-25', '2022-02-28', '2022-03-01',
       '2022-03-02', '2022-03-03', '2022-03-04', '2022-03-07',
       '2022-03-08', '2022-03-09', '2022-03-10', '2022-03-11',
       '2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17',
       '2022-03-18', '2022-03-21', '2022-03-22', '2022-03-23',
       '2022-03-24', '2022-03-25', '2022-03-28', '2022-03-29',
       '2022-03-30', '2022-03-31', '2022-04-01', '2022-04-04',
       '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08',
       '2022-04-11', '2022-04-12', '2022-04-13', '2022-04-14',
       '2022-04-15', '2022-04-19', '2022-04-20', '2022-04-21',
       '2022-04-22', '2022-04-25', '2022-04-26', '2022-04-27',
       '2022-04-28', '2022-04-29', '2022-05-02', '2022-05-04',
       '2022-05-05', '2022-05-06', '2022-05-09', '2022-05-10',
       '2022-05-11', '2022-05-12', '2022-05-13', '2022-05-16',
       '2022-05-17', '2022-05-18', '2022-05-19', '2022-05-20',
       '2022-05-23', '2022-05-24', '2022-05-25', '2022-05-26',
       '2022-05-27', '2022-05-30', '2022-05-31', '2022-06-01',
       '2022-06-02', '2022-06-03', '2022-06-06', '2022-06-07',
       '2022-06-08', '2022-06-09', '2022-06-10', '2022-06-13',
       '2022-06-14', '2022-06-15', '2022-06-17', '2022-06-20',
       '2022-06-21', '2022-06-22', '2022-06-23', '2022-06-24',
       '2022-06-27', '2022-06-28', '2022-06-29', '2022-06-30',
       '2022-07-01', '2022-07-04', '2022-07-05', '2022-07-06',
       '2022-07-07', '2022-07-08', '2022-07-11', '2022-07-12',
       '2022-07-13', '2022-07-14', '2022-07-15', '2022-07-18',
       '2022-07-19', '2022-07-20', '2022-07-21', '2022-07-22',
       '2022-07-25', '2022-07-26', '2022-07-27', '2022-07-28',
       '2022-07-29', '2022-08-01', '2022-08-02', '2022-08-03',
       '2022-08-04', '2022-08-05', '2022-08-08', '2022-08-09',
       '2022-08-10', '2022-08-11', '2022-08-12', '2022-08-16',
       '2022-08-17', '2022-08-18', '2022-08-19', '2022-08-22',
       '2022-08-23', '2022-08-24', '2022-08-25', '2022-08-26',
       '2022-08-29', '2022-08-30', '2022-08-31', '2022-09-01',
       '2022-09-02', '2022-09-05', '2022-09-06', '2022-09-07',
       '2022-09-08', '2022-09-09', '2022-09-12', '2022-09-13',
       '2022-09-14', '2022-09-15', '2022-09-16', '2022-09-19',
       '2022-09-20', '2022-09-21', '2022-09-22', '2022-09-23',
       '2022-09-26', '2022-09-27', '2022-09-28', '2022-09-29',
       '2022-09-30', '2022-10-03', '2022-10-04', '2022-10-05',
       '2022-10-06', '2022-10-07', '2022-10-10', '2022-10-11',
       '2022-10-12', '2022-10-13', '2022-10-14', '2022-10-17',
       '2022-10-18', '2022-10-19', '2022-10-20', '2022-10-21',
       '2022-10-24', '2022-10-25', '2022-10-26', '2022-10-27',
       '2022-10-28', '2022-10-31', '2022-11-02', '2022-11-03',
       '2022-11-04', '2022-11-07', '2022-11-08', '2022-11-09',
       '2022-11-10', '2022-11-14', '2022-11-15', '2022-11-16',
       '2022-11-17', '2022-11-18', '2022-11-21', '2022-11-22',
       '2022-11-23', '2022-11-24', '2022-11-25', '2022-11-28',
       '2022-11-29', '2022-11-30', '2022-12-01', '2022-12-02',
       '2022-12-05', '2022-12-06', '2022-12-07', '2022-12-08',
       '2022-12-09', '2022-12-12', '2022-12-13', '2022-12-14',
       '2022-12-15', '2022-12-16', '2022-12-19', '2022-12-20',
       '2022-12-21', '2022-12-22', '2022-12-23', '2022-12-27',
       '2022-12-28', '2022-12-29', '2022-12-30', '2023-01-02',
       '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-09',
       '2023-01-10', '2023-01-11', '2023-01-12', '2023-01-13',
       '2023-01-16', '2023-01-17', '2023-01-18', '2023-01-19',
       '2023-01-20', '2023-01-23', '2023-01-24', '2023-01-25',
       '2023-01-26', '2023-01-27', '2023-01-30', '2023-01-31',
       '2023-02-01', '2023-02-02', '2023-02-03', '2023-02-06',
       '2023-02-07', '2023-02-08', '2023-02-09', '2023-02-10',
       '2023-02-13', '2023-02-14', '2023-02-15', '2023-02-16',
       '2023-02-17', '2023-02-20', '2023-02-21', '2023-02-22',
       '2023-02-23', '2023-02-24', '2023-02-27', '2023-02-28',
       '2023-03-01', '2023-03-02', '2023-03-03', '2023-03-06',
       '2023-03-07', '2023-03-08', '2023-03-09', '2023-03-10',
       '2023-03-13', '2023-03-14', '2023-03-15', '2023-03-16',
       '2023-03-17', '2023-03-20', '2023-03-21', '2023-03-22',
       '2023-03-23', '2023-03-24', '2023-03-27', '2023-03-28',
       '2023-03-29', '2023-03-30', '2023-03-31', '2023-04-03',
       '2023-04-04', '2023-04-05', '2023-04-06', '2023-04-07',
       '2023-04-11', '2023-04-12', '2023-04-13', '2023-04-14',
       '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
       '2023-04-21', '2023-04-24', '2023-04-25', '2023-04-26',
       '2023-04-27', '2023-04-28', '2023-05-02', '2023-05-04',
       '2023-05-05', '2023-05-08', '2023-05-09', '2023-05-10',
       '2023-05-11', '2023-05-12', '2023-05-15', '2023-05-16',
       '2023-05-17', '2023-05-18', '2023-05-19', '2023-05-22',
       '2023-05-23', '2023-05-24', '2023-05-25', '2023-05-26',
       '2023-05-29', '2023-05-30', '2023-05-31', '2023-06-01',
       '2023-06-02', '2023-06-05'], dtype=object)

In [451]:
size = len(dates) * 103

customer_id = np.random.choice(customer_df.index, size=size, replace=True)
staff_id = np.random.choice(staff_df.index, size=size, replace=True)
date = np.random.choice(dates, size=size, replace=True)

days = []
for day in date:
    td = datetime.today() - datetime.strptime(day, '%Y-%m-%d')
    days.append(td.days)
days = np.array(days)

game = games_df.sample(size, replace=True)
game_id = np.array(game.index)
price = np.array(game.price)
avg_rating = np.array(game.avg_rating)
amount = price + np.round(np.vectorize(sp.expon.rvs)(0, np.log(days)))

sale = pd.DataFrame()
sale["customer_id"] = customer_id
sale["staff_id"] = staff_id
sale["game_id"] = game_id
sale["amount"] = amount
sale["date"] = date

sale = sale.sort_values('date')
sale['sale_id'] = list(range(1, size + 1))
sale = sale.set_index('sale_id')

sale

         customer_id  staff_id  game_id  amount        date
sale_id
1                140        12     4173  201.80  2021-06-01
2               1158         8    25420  115.78  2021-06-01
3                479        15     1499  207.36  2021-06-01
4                557         9   155495  112.56  2021-06-01
5               1043        11     5297   57.28  2021-06-01
...              ...       ...      ...     ...         ...
52526           1264        15    28023  136.20  2023-06-05
52527            357        14   176396  179.56  2023-06-05
52528            831         4      163   50.84  2023-06-05
52529            457        15    91620  307.21  2023-06-05
52530           1199         6     2580  195.36  2023-06-05

[52530 rows x 5 columns]

In [444]:
sale.to_csv('../database/sale.csv')