In [2]:
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, DateTime, Float, Boolean
from sqlalchemy.orm import sessionmaker, relationship
from sqlalchemy.ext.declarative import declarative_base

import pandas as pd

## Tables preparation

In [ ]:
Base = declarative_base()

In [ ]:
# games_for_sale table
class GamesForSale(Base):
    __tablename__ = 'games_for_sale'
#     __table_args__ = {'schema':'games_for_sale'}
    
    game_id = Column(Integer, primary_key = True)
    name = Column(String(250))
    description = Column(String(250))
    min_players = Column(Integer)
    max_players = Column(Integer)
    avg_time = Column(Integer)
    avg_rating = Column(Float)
    age = Column(Integer)
    availability = Column(Integer)
    category = Column(String(250))
    price = Column(Float)

In [ ]:
# games_to_rent table
class GamesToRent(Base):
    __tablename__ = 'games_to_rent'
#     __table_args__ = {'schema':'games_to_rent'}
    
    item_id = Column(Integer, primary_key = True)
    game_id = Column(Integer)
    min_players = Column(Integer)
    max_players = Column(Integer)
    rent_price = Column(Integer)

In [ ]:
# customer table
class Customers(Base):
    __tablename__ = 'customers'
#     __table_args__ = {'schema':'customers'}
    
    customer_id = Column(Integer, primary_key = True)
    first_name = Column(String(250))
    last_name = Column(String(250))
    gender = Column(String(250))
    phone = Column(Integer)
    email = Column(String(250))

In [ ]:
# staff table
class Staff(Base):
    __tablename__ = 'staff'
#     __table_args__ = {'schema':'staff'}
    
    staff_id = Column(Integer, primary_key = True)
    first_name = Column(String(250))
    last_name = Column(String(250))
    gender = Column(String(250))
    phone = Column(Integer)
    email = Column(String(250))

In [ ]:
# competition table
class Competition(Base):
    __tablename__ = 'competition'
#     __table_args__ = {'schema':'competition'}
    
    competition_id = Column(Integer, primary_key = True)
    staff_id = Column(Integer)
    game_id = Column(Integer)
    date = Column(DateTime)
    prize = Column(Integer)

In [ ]:
# competition_results table
class CompetitionResults(Base):
    __tablename__ = 'competition_results'
#     __table_args__ = {'schema':'competition_results'}
    
    result_id = Column(Integer, primary_key = True)
    competition_id = Column(Integer)
    customer_id = Column(Integer)
    place = Column(Integer)

In [ ]:
# sale table
class Sale(Base):
    __tablename__ = 'sale'
#     __table_args__ = {'schema':'sale'}
    
    sale_id = Column(Integer, primary_key = True)
    customer_id = Column(Integer)
    staff_id = Column(Integer)
    game_id = Column(Integer)
    amount = Column(Integer)
    date = Column(DateTime)

In [ ]:
# rental table
class Rental(Base):
    __tablename__ = 'rental'
#     __table_args__ = {'schema':'rental'}
    
    rental_id = Column(Integer, primary_key = True)
    customer_id = Column(Integer)
    staff_id = Column(Integer)
    item_id = Column(Integer)
    rental_date = Column(DateTime)
    return_date = Column(DateTime)

## Connection with engine

In [ ]:
engine = create_engine('mysql+pymysql://team25:te@mzs@giniewicz.it:3306/team25')
Base.metadata.create_all(engine)

In [ ]:
gamesforsale_df = pd.read_csv('games_for_sale.csv', sep = ',')
gamesforsale_df.to_sql(con = engine,
                      name = GamesForSale.__tablename__,
                       if_exists = 'append',
                       index = False)

gamestorent_df = pd.read_csv('games_to_rent.csv', sep = ',')
gamestorent_df.to_sql(con = engine,
                      name = GamesToRent.__tablename__,
                       if_exists = 'append',
                       index = False)

customers_df = pd.read_csv('customer.csv', sep = ',')
customers_df.to_sql(con = engine,
                      name = Customers.__tablename__,
                       if_exists = 'append',
                       index = False)

staff_df = pd.read_csv('staff.csv', sep = ',')
staff_df.to_sql(con = engine,
                      name = Staff.__tablename__,
                       if_exists = 'append',
                       index = False)

competition_df = pd.read_csv('competition.csv', sep = ',')
competition_df.to_sql(con = engine,
                      name = Competition.__tablename__,
                       if_exists = 'append',
                       index = False)

competitionresults_df = pd.read_csv('competition_results.csv', sep = ',')
competitionresults_df.to_sql(con = engine,
                      name = CompetitionResults.__tablename__,
                       if_exists = 'append',
                       index = False)

sale_df = pd.read_csv('sale.csv', sep = ',')
sale_df.to_sql(con = engine,
                      name = Sale.__tablename__,
                       if_exists = 'append',
                       index = False)

## Tutaj miejsce na dalsze csvki ...

## Closing connection

In [ ]:
connection.close()

https://stackoverflow.com/questions/31394998/using-sqlalchemy-to-load-csv-file-into-a-database

https://www.youtube.com/watch?v=oNky1SUC5Ak