In [1]:
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, DateTime, Float, Boolean
from sqlalchemy.orm import sessionmaker, relationship
from sqlalchemy.ext.declarative import declarative_base
from urllib.parse import quote
import pandas as pd

## Tables preparation

In [2]:
Base = declarative_base()

<ipython-input-2-9bae6e3862ba>:1: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [3]:
# games_for_sale table
class GamesForSale(Base):
    __tablename__ = 'games_for_sale'
#     __table_args__ = {'schema':'games_for_sale'}
    
    game_id = Column(Integer, primary_key = True)
    name = Column(String(250))
    description = Column(String(250))
    min_players = Column(Integer)
    max_players = Column(Integer)
    avg_time = Column(Integer)
    avg_rating = Column(Float)
    age = Column(Integer)
    availability = Column(Integer)
    category = Column(String(250))
    price = Column(Float)

In [4]:
# games_to_rent table
class GamesToRent(Base):
    __tablename__ = 'games_to_rent'
#     __table_args__ = {'schema':'games_to_rent'}
    
    item_id = Column(Integer, primary_key = True)
    game_id = Column(Integer)
    rent_price = Column(Integer)

In [5]:
# customer table
class Customers(Base):
    __tablename__ = 'customers'
#     __table_args__ = {'schema':'customers'}
    
    customer_id = Column(Integer, primary_key = True)
    first_name = Column(String(250))
    last_name = Column(String(250))
    phone = Column(Integer)
    email = Column(String(250))

In [6]:
# staff table
class Staff(Base):
    __tablename__ = 'staff'
#     __table_args__ = {'schema':'staff'}
    
    staff_id = Column(Integer, primary_key = True)
    first_name = Column(String(250))
    last_name = Column(String(250))
    phone = Column(Integer)
    email = Column(String(250))
    salary = Column(Float)

In [7]:
# competition table
class Competition(Base):
    __tablename__ = 'competition'
#     __table_args__ = {'schema':'competition'}
    
    competition_id = Column(Integer, primary_key = True)
    staff_id = Column(Integer)
    game_id = Column(Integer)
    date = Column(DateTime)
    prize = Column(Integer)

In [8]:
# competition_results table
class CompetitionResults(Base):
    __tablename__ = 'competition_results'
#     __table_args__ = {'schema':'competition_results'}
    
    result_id = Column(Integer, primary_key = True)
    competition_id = Column(Integer)
    customer_id = Column(Integer)
    team_id = Column(Integer)
    place = Column(Integer)

In [9]:
# sale table
class Sale(Base):
    __tablename__ = 'sale'
#     __table_args__ = {'schema':'sale'}
    
    sale_id = Column(Integer, primary_key = True)
    customer_id = Column(Integer)
    staff_id = Column(Integer)
    game_id = Column(Integer)
    amount = Column(Integer)
    date = Column(DateTime)

In [10]:
# rental table
class Rental(Base):
    __tablename__ = 'rental'
#     __table_args__ = {'schema':'rental'}
    
    rental_id = Column(Integer, primary_key = True)
    customer_id = Column(Integer)
    staff_id = Column(Integer)
    item_id = Column(Integer)
    rental_date = Column(DateTime)
    return_date = Column(DateTime)

## Connection with engine

In [11]:
username = 'team25'
password = quote('te@mzs')
database = 'team25'
host = 'giniewicz.it'
port = '3306'

engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}')
Base.metadata.create_all(engine)

In [12]:
gamesforsale_df = pd.read_csv('games_for_sale.csv', sep = ',')
gamesforsale_df.to_sql(con = engine,
                      name = GamesForSale.__tablename__,
                       if_exists = 'append',
                       index = False)

gamestorent_df = pd.read_csv('games_to_rent.csv', sep = ',')
gamestorent_df.to_sql(con = engine,
                      name = GamesToRent.__tablename__,
                       if_exists = 'append',
                       index = False)

customers_df = pd.read_csv('customer.csv', sep = ',')
customers_df.to_sql(con = engine,
                      name = Customers.__tablename__,
                       if_exists = 'append',
                       index = False)

staff_df = pd.read_csv('staff.csv', sep = ',')
staff_df.to_sql(con = engine,
                      name = Staff.__tablename__,
                       if_exists = 'append',
                       index = False)

competition_df = pd.read_csv('competition.csv', sep = ',')
competition_df.to_sql(con = engine,
                      name = Competition.__tablename__,
                       if_exists = 'append',
                       index = False)

competitionresults_df = pd.read_csv('competition_results.csv', sep = ',')
competitionresults_df.to_sql(con = engine,
                      name = CompetitionResults.__tablename__,
                       if_exists = 'append',
                       index = False)

sale_df = pd.read_csv('sale.csv', sep = ',')
sale_df.to_sql(con = engine,
                      name = Sale.__tablename__,
                       if_exists = 'append',
                       index = False)

## Tutaj miejsce na dalsze csvki ...

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'salary' in 'field list'")
[SQL: INSERT INTO staff (staff_id, first_name, last_name, gender, phone, email, salary) VALUES (%(staff_id)s, %(first_name)s, %(last_name)s, %(gender)s, %(phone)s, %(email)s, %(salary)s)]
[parameters: [{'staff_id': 1, 'first_name': 'Miłosz', 'last_name': 'Wojnicki', 'gender': 'male', 'phone': 531439257, 'email': 'Milosz.Wojnicki@dragons.com', 'salary': 5140.0}, {'staff_id': 2, 'first_name': 'Nikodem', 'last_name': 'Pilarz', 'gender': 'male', 'phone': 733245438, 'email': 'Nikodem.Pilarz@dragons.com', 'salary': 4310.0}, {'staff_id': 3, 'first_name': 'Jan', 'last_name': 'Błotny', 'gender': 'male', 'phone': 571731374, 'email': 'Jan.Blotny@dragons.com', 'salary': 5140.0}, {'staff_id': 4, 'first_name': 'Bartosz', 'last_name': 'Hetman', 'gender': 'male', 'phone': 787450473, 'email': 'Bartosz.Hetman@dragons.com', 'salary': 5140.0}, {'staff_id': 5, 'first_name': 'Zuzanna', 'last_name': 'Brzozowska', 'gender': 'female', 'phone': 784416191, 'email': 'Zuzanna.Brzozowska@dragons.com', 'salary': 5140.0}, {'staff_id': 6, 'first_name': 'Aleksander', 'last_name': 'Szymaszczyk', 'gender': 'male', 'phone': 883236015, 'email': 'Aleksander.Szymaszczyk@dragons.c', 'salary': 6530.0}, {'staff_id': 7, 'first_name': 'Weronika', 'last_name': 'Bloch', 'gender': 'female', 'phone': 571903455, 'email': 'Weronika.Bloch@dragons.com', 'salary': 4310.0}, {'staff_id': 8, 'first_name': 'Kacper', 'last_name': 'Reszke', 'gender': 'male', 'phone': 608033877, 'email': 'Kacper.Reszke@dragons.com', 'salary': 4310.0}  ... displaying 10 of 17 total bound parameter sets ...  {'staff_id': 16, 'first_name': 'Aleksander', 'last_name': 'Magdaleński', 'gender': 'male', 'phone': 503858822, 'email': 'Aleksander.Magdalenski@dragons.c', 'salary': 4310.0}, {'staff_id': 17, 'first_name': 'Filip', 'last_name': 'Pawlaczyk', 'gender': 'male', 'phone': 888147820, 'email': 'Filip.Pawlaczyk@dragons.com', 'salary': 4310.0}]]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [25]:
df = pd.read_csv('games_for_sale.csv')

In [29]:
df.game_id.count()

3723

In [30]:
df.game_id.drop_duplicates().count()

3723

## Closing connection

In [ ]:
connection.close()

https://stackoverflow.com/questions/31394998/using-sqlalchemy-to-load-csv-file-into-a-database

https://www.youtube.com/watch?v=oNky1SUC5Ak