In [1]:
import pandas as pd
import numpy as np
from random import randint

In [2]:
df = pd.read_csv('boardgames_sale.csv')
df.head()

,rank,bgg_url,game_id,names,description,min_players,max_players,avg_time,min_time,max_time,...,geek_rating,num_votes,image_url,age,mechanic,owned,category,designer,weight,price
0,1,https://boardgamegeek.com/boardgame/174430/glo...,174430,Gloomhaven,Vanquish monsters with strategic cardplay. Ful...,1,4,120,60,120,...,8.61858,15376,https://cf.geekdo-images.com/original/img/lDN3...,12,"Action / Movement Programming, Co-operative Pl...",25928,"Adventure, Exploration, Fantasy, Fighting, Min...",Isaac Childres,3.7543,155.98
1,2,https://boardgamegeek.com/boardgame/161936/pan...,161936,Pandemic Legacy: Season 1,Mutating diseases are spreading around the wor...,2,4,60,60,60,...,8.50163,26063,https://cf.geekdo-images.com/original/img/P_Sw...,13,"Action Point Allowance System, Co-operative Pl...",41605,"Environmental, Medical","Rob Daviau, Matt Leacock",2.8210,60.89
2,3,https://boardgamegeek.com/boardgame/182028/thr...,182028,Through the Ages: A New Story of Civilization,Rewrite history as you build up your civilizat...,2,4,240,180,240,...,8.30183,12352,https://cf.geekdo-images.com/original/img/1d2h...,14,"Action Point Allowance System, Auction/Bidding...",15848,"Card Game, Civilization, Economic",Vlaada Chvátil,4.3678,66.18
3,4,https://boardgamegeek.com/boardgame/167791/ter...,167791,Terraforming Mars,Compete with rival CEOs to make Mars habitable...,1,5,120,120,120,...,8.19914,26004,https://cf.geekdo-images.com/original/img/o8z_...,12,"Card Drafting, Hand Management, Set Collection...",33340,"Economic, Environmental, Industry / Manufactur...",Jacob Fryxelius,3.2456,78.92
4,5,https://boardgamegeek.com/boardgame/12333/twil...,12333,Twilight Struggle,Relive the Cold War and rewrite history in an ...,2,2,180,120,180,...,8.19787,31301,https://cf.geekdo-images.com/original/img/ZPnn...,13,"Area Control / Area Influence, Campaign / Batt...",42952,"Modern Warfare, Political, Wargame","Ananda Gupta, Jason Matthews",3.5518,54.95

## Games for sale

In [3]:
sale = df.drop(['rank', 'bgg_url', 'min_time', 'max_time', 'geek_rating', 'num_votes', 'image_url', 'designer', 'weight'], axis = 1)
sale = sale[sale.price.isnull() == False].reset_index(drop = True)
sale.price = round(sale.price * 4.44, 2)
sale.head()

,game_id,names,description,min_players,max_players,avg_time,year,avg_rating,age,mechanic,owned,category,price
0,174430,Gloomhaven,Vanquish monsters with strategic cardplay. Ful...,1,4,120,2017,8.98893,12,"Action / Movement Programming, Co-operative Pl...",25928,"Adventure, Exploration, Fantasy, Fighting, Min...",692.55
1,161936,Pandemic Legacy: Season 1,Mutating diseases are spreading around the wor...,2,4,60,2015,8.66140,13,"Action Point Allowance System, Co-operative Pl...",41605,"Environmental, Medical",270.35
2,182028,Through the Ages: A New Story of Civilization,Rewrite history as you build up your civilizat...,2,4,240,2015,8.60673,14,"Action Point Allowance System, Auction/Bidding...",15848,"Card Game, Civilization, Economic",293.84
3,167791,Terraforming Mars,Compete with rival CEOs to make Mars habitable...,1,5,120,2016,8.38461,12,"Card Drafting, Hand Management, Set Collection...",33340,"Economic, Environmental, Industry / Manufactur...",350.40
4,12333,Twilight Struggle,Relive the Cold War and rewrite history in an ...,2,2,180,2005,8.33954,13,"Area Control / Area Influence, Campaign / Batt...",42952,"Modern Warfare, Political, Wargame",243.98

## Games to rent

In [8]:
"""Generates list of random integers (from 0 to 10), with advantage of zeros."""
def games_count(n = np.shape(sale)[0]):
    a = [randint(0, 10) for i in range(n)]
    b = [0 if randint(0, len(a)) < 500 else i for i in a]
    return b

In [9]:
rent = sale[['game_id', 'price', 'min_players', 'max_players']]

In [10]:
price = rent.price.values
rent_price = []
for price in price:
    if 0 <= price < 100:
        p = 2
    elif 100 <= price < 500:
        p = 5
    elif 500 <= price < 1000:
        p = 10
    elif 1000 <= price < 1500:
        p = 15
    else:
        p = 20
    rent_price.append(p)

In [11]:
rent2 = rent.copy()
rent2['rent_price'] = rent_price
rent2 = rent2.drop(['price'], axis = 1)
rent2 = rent2.loc[rent2.index.repeat(games_count())].reset_index(drop = True)
rent2.insert(0, 'item_id', np.array([*range(len(rent2))]) + 1)
rent2

       item_id  game_id  min_players  max_players  rent_price
0            1   174430            1            4          10
1            2   174430            1            4          10
2            3   174430            1            4          10
3            4   174430            1            4          10
4            5   174430            1            4          10
...        ...      ...          ...          ...         ...
15937    15938    42713            2            6           5
15938    15939    42713            2            6           5
15939    15940    42713            2            6           5
15940    15941      836            3            6           2
15941    15942      836            3            6           2

[15942 rows x 5 columns]

In [12]:
sale.to_csv('../database/games_for_sale.csv', index = False)
rent2.to_csv('../database/games_to_rent.csv', index = False)